<body style="background-color: #002442" class="text-white">
  <nav id="home" class="fadein navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #ee8941">
    <a data-turbolinks="false" class="navbar-brand">Imagen Tec</a>
    Imagen HiTec
  </nav>

  <div class="container" style="height: 100%; margin-top: 5rem;">
    <h2 class="mb-4">Registro</h2>
    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Sexo</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option value="Hombre">H</option>
          <option value="Mujer">M</option>
          <option value="Otro">Otro</option>
        </select>
      </div>
      <div class="form-group">
        <label for="user">Nombre(s)</label>
        <input type="text" class="form-control" id="user">
      </div>
      <div class="form-group">
        <label for="user">Apellido Paterno</label>
        <input type="text" class="form-control" id="user">
      </div>
      <div class="form-group">
        <label for="user">Apellido Materno</label>
        <input type="text" class="form-control" id="user">
      </div>
      <div class="form-group">
        <label for="user">Matrícula</label>
        <input type="text" class="form-control" id="user" placeholder="Ej. 1463376">
        <small>Introduce tu matrícula sin A0.</small>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Carrera</label>
        <select class="form-control" id="exampleFormControlSelect1">
        </select>
      </div>
     <!--"ARQ", "IBT", "IBTt", "IC", "IDA", "IDS", "IFI", "IIA", "IID", "IIDt", "IIS", "IMA", "IMD", "IME",
     "IMI", "IMT", "INCQ", "INT", "IQA", "IQP", "ISDR", "ITC", "ITIt", "LAD", "LADt", "LAE", "LAEt",
     "LAF", "LBCt", "LCDE", "LCMD", "LCMDt", "LCPF","LDI", "LDIt", "LDF", "LEC", "LED", "LEM", "LIN",
     "LLE", "LNB", "LPL", "LPM", "LPO", "LPS", "LRI", "LTSt", "MC", "MO"-->
      <button type="submit" class="btn text-white" style="background-color: #97bf11">Registrar</button>
    </form>
  </div>
  </body>
