<body style="background-color: #002442" class="text-white">
  <%= render "layouts/navbarSimple" %>

  <div class="container" style="height: 100%; margin-top: 5rem;">
    <h2 class="mb-4">Registro</h2>
    <div class="qr-code">
      <img src="<%= generate_qr(@matricula) %>">
    </div>
  </div>
</body>
