<body style="background-color: #002442" class="text-white">
  <nav id="home" class="fadein navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #ee8941">
    <a data-turbolinks="false" class="navbar-brand">Imagen Tec</a>
    Imagen HiTec
  </nav>

  <div class="container" style="height: 100%; margin-top: 5rem;">
    <h2 class="mb-4">Registro</h2>
    <div class="qr-code">
      <img src="<%= generate_qr(@matricula) %>">
    </div>
  </div>
</body>
