<body style="background-color: #002442" class="text-white">
  <%= render "layouts/navbarTeam" %>
  <% if current_user.username == "team" %>
    <div class="container" style="height: 100%; margin-top: 5rem;">
      <div class="col-sm-12">
        <h2>Agregar</h2>
        <div class="form-group row">
          <label for="color-agregar-HITEC" class="col-2 col-md-3 col-form-label">Color</label>
          <div class="col-8 col-lg-7">
            <input class="form-control" type="text" value="" id="color-agregar-HITEC" placeholder="Agregar Color">
          </div>
          <button id="agregarColor" type="submit" class="btn text-white" style="background-color: #97bf11">+</button>
        </div>
        <div class="form-group row">
          <label for="edificio-agregar-HITEC" class="col-2 col-md-3 col-form-label">Edificio</label>
          <div class="col-8 col-lg-7">
            <input class="form-control" type="text" value="" id="edificio-agregar-HITEC" placeholder="Agregar Edificio">
          </div>
          <button id="agregarEdificio" type="submit" class="btn text-white" style="background-color: #97bf11">+</button>
        </div>
        <div class="form-group row">
          <label for="actividad-agregar-HITEC" class="col-2 col-md-3 col-form-label actividad_label">Actividad</label>
          <div class="col-8 col-lg-7">
            <input class="form-control" type="text" value="" id="actividad-agregar-HITEC" placeholder="Agregar Actividad">
          </div>
          <button id="agregarActividad" type="submit" class="btn text-white" style="background-color: #97bf11">+</button>
        </div>
      </div>

      <div class="col-sm-12">
        <h2>Eliminar</h2>
        <div class="form-group row">
          <label for="color-eliminar-HITEC" class="col-2 col-md-3 col-form-label">Color</label>
          <div class="col-8 col-lg-7">
              <%= select_tag "Color", options_from_collection_for_select(Color.all, "id", "name"), class:"form-control", id:"color-eliminar-HITEC" %>
          </div>
          <button id="eliminarColor" type="submit" class="btn text-white" style="background-color: #ee8941">-</button>
        </div>
        <div class="form-group row">
          <label for="edificio-eliminar-HITEC" class="col-2 col-md-3 col-form-label">Edificio</label>
          <div class="col-8 col-lg-7">
            <%= select_tag "Edificio", options_for_select(unique_buildings), class:"form-control", id:"edificio-eliminar-HITEC" %>
          </div>
          <button id="eliminarEdificio" type="submit" class="btn text-white" style="background-color: #ee8941">-</button>
        </div>
        <div class="form-group row">
          <label for="actividad-eliminar-HITEC" class="col-2 col-md-3 col-form-label actividad_label">Actividad</label>
          <div class="col-8 col-lg-7">
            <%= select_tag "Actividad", options_from_collection_for_select(Activity.all, "id", "name"), class:"form-control", id:"actividad-eliminar-HITEC" %>
          </div>
          <button id="eliminarActividad" type="submit" class="btn text-white" style="background-color: #ee8941">-</button>
        </div>
      </div>
    </div>
    <div class="container">
    <form>
      <button type="submit" class="btn btn-danger text-white" id="actualizar_drive_staff" style="background-color: red">Actualizar Staffs en el Drive</button>
    </form>
    </div>
  <% end %>
  </body>
