<body style="background-color: #002442" class="text-white">
  <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
  <%= render "layouts/navbarStaff" %>

  <div class="container-fluid col-10" style="margin-top: 5rem;">
  	<h2 class="mb-4">Registro</h2>
  	<form class="student-register">
      <div class="form-group">
        <input type=text id="student-qr-code" placeholder="   QR Code" class="qrcode-text rounded"><label class=qrcode-text-btn><input type=file accept="image/*" capture=environment onclick="return showQRIntro();" onchange="openQRCamera(this);" tabindex=-1></label>
        <!--<input type=button value="Go" disabled>-->
      </div>
      <button type="submit" value="Go" class="btn text-white" data-remote="true" style="background-color: #97bf11">Registrar</button>
    </form>

    <form class="mt-4">
      <div class="form-group">
        <label for="user">Color</label>
        <input type="text" class="form-control" id="user_color" disabled>
      </div>
      <div class="form-group">
        <label for="user">Edificio</label>
        <input type="text" class="form-control" id="user_building" disabled>
      </div>
    </form>

  </div>
</body>
