<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por registrarte a hitec!</h1>
    <p>Agradecemos que te hayas inscrito</p>
  </body>
</html>
