<table class="table text-center table-jueves">
  <thead>
    <tr>
      <th scope="col" style="border-top: none">Hora</th>
      <th scope="col" style="border-top: none">Actividad</th>
      <th scope="col" style="border-top: none">Lugar</th>
    </tr>
  </thead>
  <tbody id="tablebody">
    <tr>
      <td scope="row" class="schedule-row-jueves">9:30 h</td>
      <td class="schedule-row-jueves">Registro</td>
      <td class="schedule-row-jueves">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-jueves">10:00 h</td>
      <td class="schedule-row-jueves">Bienvenida</td>
      <td class="schedule-row-jueves">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-jueves">10:30 h</td>
      <td class="schedule-row-jueves">Warmup</td>
      <td class="schedule-row-jueves">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-jueves">11:00 h</td>
      <td class="schedule-row-jueves">Defile Borrego</td>
      <td class="schedule-row-jueves">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-jueves">11:30 h</td>
      <td class="schedule-row-jueves">Start Your Journey</td>
      <td class="schedule-row-jueves">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-jueves">13:00 h</td>
      <td class="schedule-row-jueves">Comida</td>
      <td class="schedule-row-jueves">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-jueves">14:30 h</td>
      <td class="schedule-row-jueves">Rally</td>
      <td class="schedule-row-jueves">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-jueves">17:00 h</td>
      <td class="schedule-row-jueves">Been Tec Done That</td>
      <td class="schedule-row-jueves">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-jueves">18:00 h</td>
      <td class="schedule-row-jueves">Team Back</td>
      <td class="schedule-row-jueves">-</td>
    </tr>
    <tr>
      <td scope="row" >18:30 h</td>
      <td>Cierre</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
