<table class="table text-center">
  <thead>
    <tr>
      <th scope="col" style="border-top: none">Hora</th>
      <th scope="col" style="border-top: none">Actividad</th>
      <th scope="col" style="border-top: none">Lugar</th>
    </tr>
  </thead>
  <tbody id="tablebody">
    <tr>
      <td scope="row" style="border-bottom: 0.1rem solid #98bf13;">9:30 h</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">Registro</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">-</td>
    </tr>
    <tr>
      <td scope="row" style="border-bottom: 0.1rem solid #98bf13;">10:00 h</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">Bienvenida</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">-</td>
    </tr>
    <tr>
      <td scope="row" style="border-bottom: 0.1rem solid #98bf13;">10:30 h</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">Warmup</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">-</td>
    </tr>
    <tr>
      <td scope="row" style="border-bottom: 0.1rem solid #98bf13;">11:00 h</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">Defile Borrego</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">-</td>
    </tr>
    <tr>
      <td scope="row" style="border-bottom: 0.1rem solid #98bf13;">11:30 h</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">Start Your Journey</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">-</td>
    </tr>
    <tr>
      <td scope="row" style="border-bottom: 0.1rem solid #98bf13;">13:00 h</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">Comida</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">-</td>
    </tr>
    <tr>
      <td scope="row" style="border-bottom: 0.1rem solid #98bf13;">14:30 h</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">Rally</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">-</td>
    </tr>
    <tr>
      <td scope="row" style="border-bottom: 0.1rem solid #98bf13;">17:00 h</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">Been Tec Done That</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">-</td>
    </tr>
    <tr>
      <td scope="row" style="border-bottom: 0.1rem solid #98bf13;">18:00 h</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">Team Back</td>
      <td style="border-bottom: 0.1rem solid #98bf13;">-</td>
    </tr>
    <tr>
      <td scope="row" >18:30 h</td>
      <td>Cierre</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
