<table class="table text-center table-viernes is-invisible">
  <thead>
    <tr>
      <th scope="col" style="border-top: none">Hora</th>
      <th scope="col" style="border-top: none">Actividad</th>
      <th scope="col" style="border-top: none">Lugar</th>
    </tr>
  </thead>
  <tbody id="tablebody">
    <tr>
      <td scope="row" class="schedule-row-viernes">9:30 h</td>
      <td class="schedule-row-viernes">Registro</td>
      <td class="schedule-row-viernes">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">10:00 h</td>
      <td class="schedule-row-viernes">Bienvenida</td>
      <td class="schedule-row-viernes">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">10:30 h</td>
      <td class="schedule-row-viernes">Warmup</td>
      <td class="schedule-row-viernes">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">11:00 h</td>
      <td class="schedule-row-viernes">Defile Borrego</td>
      <td class="schedule-row-viernes">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">11:30 h</td>
      <td class="schedule-row-viernes">Start Your Journey</td>
      <td class="schedule-row-viernes">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">13:00 h</td>
      <td class="schedule-row-viernes">Comida</td>
      <td class="schedule-row-viernes">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">14:30 h</td>
      <td class="schedule-row-viernes">Rally</td>
      <td class="schedule-row-viernes">-</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">18:00 h</td>
      <td class="schedule-row-viernes">Team Back</td>
      <td class="schedule-row-viernes">-</td>
    </tr>
    <tr>
      <td scope="row" >18:30 h</td>
      <td>Cierre</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
