<table class="table text-center table-viernes is-invisible">
  <thead>
    <tr>
      <th scope="col" style="border-top: none">Hora</th>
      <th scope="col" style="border-top: none">Actividad</th>
      <th scope="col" style="border-top: none">Lugar</th>
    </tr>
  </thead>
  <tbody id="tablebody">
    <tr>
      <td scope="row" class="schedule-row-viernes">8:30 h</td>
      <td class="schedule-row-viernes">Bienvenida</td>
      <td class="schedule-row-viernes">Centro Estudiantil</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">9:00 h</td>
      <td class="schedule-row-viernes">Tienes Que Vivirlo</td>
      <td class="schedule-row-viernes">Campus</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">12:30 h</td>
      <td class="schedule-row-viernes">Plática David Garza</td>
      <td class="schedule-row-viernes">Gimnasio</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">14:00 h</td>
      <td class="schedule-row-viernes">Comida</td>
      <td class="schedule-row-viernes">Centro Estudiantil</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">15:00 h</td>
      <td class="schedule-row-viernes">Tienes Que Vivirlo</td>
      <td class="schedule-row-viernes">Campus</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">17:00 h</td>
      <td class="schedule-row-viernes">Plática Dirección de Carrera</td>
      <td class="schedule-row-viernes">Salones Varios</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">18:00 h</td>
      <td class="schedule-row-viernes">Clausura</td>
      <td class="schedule-row-viernes">Jardín de las Carreras</td>
    </tr>
  </tbody>
</table>
