<table class="table text-center table-viernes is-invisible">
  <thead>
    <tr>
      <th scope="col" style="border-top: none">Hora</th>
      <th scope="col" style="border-top: none">Actividad</th>
      <th scope="col" style="border-top: none">Lugar</th>
    </tr>
  </thead>
  <tbody id="tablebody">
    <tr>
      <td scope="row" class="schedule-row-viernes">8:30 am</td>
      <td class="schedule-row-viernes">Bienvenida</td>
      <td class="schedule-row-viernes">HQ</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">9:00 am</td>
      <td class="schedule-row-viernes">Lo Tienes que Vivir</td>
      <td class="schedule-row-viernes">Campus</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">12:10 pm</td>
      <td class="schedule-row-viernes">Traslado</td>
      <td class="schedule-row-viernes">Campus - Arena Borregos</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">12:45 pm</td>
      <td class="schedule-row-viernes">David Garza</td>
      <td class="schedule-row-viernes">Arena Borregos</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">1:45 pm</td>
      <td class="schedule-row-viernes">Entrega de Comida</td>
      <td class="schedule-row-viernes">Arena Borregos</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">2:00 pm</td>
      <td class="schedule-row-viernes">Comida</td>
      <td class="schedule-row-viernes">Arena Borregos</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">2:50 pm</td>
      <td class="schedule-row-viernes">Lo Tienes que Vivir</td>
      <td class="schedule-row-viernes">Campus</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">4:30 pm</td>
      <td class="schedule-row-viernes">Acomodo por Carrera</td>
      <td class="schedule-row-viernes">BiblioTec</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">5:00 pm</td>
      <td class="schedule-row-viernes">Directores de Carrera</td>
      <td class="schedule-row-viernes">Salones</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">6:00 pm</td>
      <td class="schedule-row-viernes">Clausura</td>
      <td class="schedule-row-viernes">JDC</td>
    </tr>
    <tr>
      <td scope="row" class="schedule-row-viernes">8:00 pm</td>
      <td class="schedule-row-viernes">Cierre</td>
      <td class="schedule-row-viernes">-</td>
    </tr>
  </tbody>
</table>
