<%= render "layouts/navbar" %>
<%= render "home/initial_logo" %>

<div class="container-fluid">

	<%= image_tag "htpng", style: "margin-top: 4rem; height: 50%; width: 50%; margin-left: auto; margin-right: auto; display: block;" %>

	<h1 class="text-uppercase text-white" style="text-align: center;"> ¡Aquí es donde todo comienza! </h1>

	<div class="container" >
		<form class="text-white frm" style="margin-left: auto; margin-right: auto; display: block;">
			<div class="form-group">
				<label for="exampleFormControlInput1">Nombre(s)</label>
				<input type="text" class="form-control" id="name">
			</div>
			<div class="form-group">
				<label for="exampleFormControlInput1">Apellidos</label>
				<input type="text" class="form-control" id="lastname">
			</div>
			<div class="form-group">
				<label for="exampleFormControlInput1">Correo</label>
				<input type="email" class="form-control" id="mail">
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Carrera</label>
				<select class="form-control" id="career">
					<option value="ARQ">ARQ</option>
					<option value="LADt">LADt</option>
					<option value="LAEt">LAEt</option>
					<option value="LAF">LAF</option>
					<option value="LBCt">LBCt</option>
					<option value="LCDE">LCDE</option>
					<option value="LCMDt">LCMDt</option>
					<option value="LCPF">LCPF</option>
					<option value="LDIt">LDIt</option>
					<option value="LDF">LDF</option>
					<option value="LEC">LEC</option>
					<option value="LED">LED</option>
					<option value="LEM">LEM</option>
					<option value="LIN">LIN</option>
					<option value="LLE">LLE</option>
					<option value="LNB">LNB</option>
					<option value="LPL">LPL</option>
					<option value="LPM">LPM</option>
					<option value="LPO">LPO</option>
					<option value="LPS">LPS</option>
					<option value="LRI">LRI</option>
					<option value="LTSt">LTSt</option>
					<option value="IBTt">IBTt</option>
					<option value="IC">IC</option>
					<option value="IDA">IDA</option>
					<option value="IDS">IDS</option>
					<option value="IFI">IFI</option>
					<option value="IIA">IIA</option>
					<option value="IIDt">IIDt</option>
					<option value="IIS">IIS</option>
					<option value="IMA">IMA</option>
					<option value="IMD">IMD</option>
					<option value="IME">IME</option>
					<option value="IMI">IMI</option>
					<option value="IMT">IMT</option>
					<option value="INCQ">INCQ</option>
					<option value="INT">INT</option>
					<option value="IQA">IQA</option>
					<option value="IQP">IQP</option>
					<option value="ISDR">ISDR</option>
					<option value="ITC">ITC</option>
					<option value="ITIt">ITIt</option>
					<option value="MC">MC</option>
					<option value="MO">MO</option>
				</select>
			</div>
			<div class="form-check">
				<label for="exampleFormControlSelect1">Vegetariano/a?</label><br>
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="true">
					Sí
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="false">
					No
				</label>
			</div>
			<button type="submit" class="btn btn-primary mt-3" style="margin-bottom: 3rem;">Enviar</button>
		</form>
	</div>

</div>

<%= render "layouts/footer" %>