.is-invisible {
  display: none;
}

.schedule-row-jueves {
  border-bottom: 0.1rem solid #98bf13;
}

.schedule-row-viernes {
  border-bottom: 0.1rem solid #ed8943;
}

.preregister-link {
  font-size: 3rem;
  margin: auto;
  margin-bottom: 2rem;
  width: 23%;
}