/* --------------------------
  Keyframes
--------------------------- */

 
 @keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-itstm{
  100%{
    fill: #FFFFFF;
  }
}

@keyframes fill-itstv{
  100%{
    fill: #98BF13;
  }
}

@keyframes fill-itsto{
  100%{
    fill: #003D6D;
  }
}

@keyframes fill-itstp{
  100%{
    fill: #ED8943;
  }
}

@keyframes fill-itstl{
  100%{
    fill: #2C73B5;
  }
}

@keyframes fdeout{
  100%{
    opacity: 0;
    display: none;
  }
}

@keyframes fdein{
  100%{
    opacity: 1;
    display:none;
  }
}

@keyframes white-stroke{
  100%{
    stroke: transparent;
  }
}

/* --------------------------
  SVG Styles
--------------------------- */

body{
  font-family: 'Raleway', sans-serif;
}

svg {
  position: fixed; /* or absolute */
  left: 25%;
  margin: 2em auto 0;
  width: 50%;
}

.path {
  animation: draw 2.5s linear forwards, white-stroke .4s 2.5s forwards, fdeout 1s 4s linear forwards;
}

.st0{
  animation: fill-itstm .8s 2.5s forwards; 
}

.st1{
  animation: fill-itstv .8s 2.5s forwards; 
}

.st2{
  animation: fill-itsto .8s 2.5s forwards; 
}

.st3{
  animation: fill-itstp .8s 2.5s forwards; 
}

.st4{
  animation: fill-itstl .8s 2.5s forwards; 
}


#home{
  background-color: white;
  border-bottom: 2px solid black;
  font-size: 0.9rem;
  color: black;
}

#what{
  height: 25rem;
}

.bfooter{
  font-size: 1rem;
}

#acts{
  background-color: #003d6d;
}

.tec{
  font-size: 0.9rem;
}

.avisos{
  font-size: 0.6rem;
}


.fadein{
  overflow: hidden;
  opacity: 0;
  animation: fdein .5s 4s linear forwards;
}

@media only screen and (min-width: 992px) {
    .tecimg{
      position: absolute;
      right: 0px;
    }
}


@media only screen and (max-width: 1200px) and (min-width: 1001px) {
    svg{
      top: 5%;
    }
    .tec{
      font-size: 0.7rem;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 701px)  {
    svg{
      top: 15%;
    }
    .tec{
      font-size: 0.7rem;
    }
    
}

@media only screen and (max-width: 700px) and (min-width: 400px) {
    svg{
      top: 25%;
    }
    .tec{
      font-size: 0.7rem;
    }
}


.carousel {
  height: 100vh;
}

.carousel-inner{
  height: 100vh;
}

.carousel-indicators li {
    background-color: #000000; 
}
.carousel-indicators .active {
    background-color: #ffffff;
}
