@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.hitec-image {
  width: 600px;
}

.label-separation {
  margin-top: 1.5rem;
}

.logo {
  margin: 4rem auto;
  width: 600px;
}

.preregister-form {
  margin: auto;
  position: relative;
  top: 10%;
  width: 20%;
}

.preregister-title {
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

.qr-code {
  margin: auto;
  width: 205px;
}

.save-student{
  margin-top: 2rem;
  width: 85px;
}

.welcome-student {
  margin: auto;
  width: 13%;
}
