<footer class="footerfrm" style="background-color: #212121;">
	<div class="container py-4 text-white">
		<div class="row text-center">
			<div class="col-12">
				<ul class="list-inline mb-0">
					<li class="list-inline-item"><a href="https://www.facebook.com/tecdemty" class="facebook"><i class="text-white fa fa-facebook-f" style="font-size:1.5rem;"></i></a></li>
					<li class="list-inline-item"><a href="https://twitter.com/TecDeMty" class="facebook"><i class="text-white fa fa-twitter" style="font-size:1.5rem;"></i></a></li>
					<li class="list-inline-item"><a href="https://www.linkedin.com/school/itesm/" class="facebook"><i class="text-white fa fa-linkedin" style="font-size:1.5rem;"></i></a></li>
					<li class="list-inline-item"><a href="https://www.youtube.com/TECdeMonterrey" class="facebook"><i class="text-white fa fa-youtube" style="font-size:1.5rem;"></i></a></li>
					<li class="list-inline-item"><a href="https://www.instagram.com/tecdemonterrey/" class="facebook"><i class="text-white fa fa-instagram" style="font-size:1.5rem;"></i></a></li>
				</ul>
			</div>
		</div>
		<hr style="background-color: white; width: 100%;">
		<div class="row abajo">
			<div class="col-md-7 tec text-uppercase">
				<p>EUgenio Garza Sada 2501 C.P. 64849 | Monterrey, N.L. México | TEL. <a class="text-white" href="tel:8183582000" style="text-decoration: none;">+52 (81) 8358-2000</a> <br> Instituto Tecnológico y de Estudios Superiores de Monterrey</p>
			</div>
			<div class="col-md-5 avisos text-center">
				<a href="https://tec.mx/es/aviso-legal" class="text-white" style="text-decoration: none;">Aviso legal</a> | 
				<a href="https://tec.mx/es/politicas-de-privacidad-del-tecnologico-de-monterrey" class="text-white" style="text-decoration: none;">Políticas de privacidad</a> | 
				<a href="https://tec.mx/es/avisos-de-privacidad" class="text-white" style="text-decoration: none;">Aviso de privacidad</a> | 
				<a href="https://tec.mx/es/sobre-el-sitio" class="text-white" style="text-decoration: none;">Sobre el sitio</a>
			</div>
		</div>
	</div>
</footer>